@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#renderCanvas
{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  touch-action: none;
}

*{
    font-family: 'Montserrat', sans-serif;
 
}
.ins{
  color: white;
}


h1 {
    font-size: 100px;
    margin-top: 0;
    padding-top: 15%;
    color: white;
}
#renderCanvas{
    touch-action : none;
}

.btn{
    font-family : inherit;
    font-size: 50px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 30%;
}
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Courier New;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#end{
    background: url("images/space.jpg") no-repeat center fixed;
    background-size: 100% auto;
    text-align: center;
}
